#table-heading th{
    border-top: none !important;
    width: 10px !important;
}
/*input[is-error = true]{
 color: red;
}*/
p[is-error = true]{
    color: red;
    margin-bottom:0;
   }
#del-button, #edit-button{
    overflow:hidden;
    padding-top:5px;
    padding-bottom:5px;
    border-top: 1px solid rgb(222, 226, 230);
}   